* {
  padding: 0px;
  margin: 0px;
  font-family: 'Montserrat', sans-serif;
}

.no-margin {
  margin-left: 0px !important;
}

nav {
  position: fixed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  top: 0px;
  left: 0px;
  height: 56px;
  width: 100%;
  align-items: center;
  -webkit-box-shadow: 0 0.25rem 0.125rem 0 rgba(147, 49, 245, 0.4);
          box-shadow: 0 0.25rem 0.125rem 0 rgba(147, 49, 245, 0.4);
  z-index: 1000;
  -webkit-box-sizing: unset;
          box-sizing: unset;
  background-color: #fff;
}

nav .nav-toggle-btn {
  margin-left: 20px;
  width: 40px;
  height: 40px;
  text-align: center;
  line-height: 40px;
  font-size: 20px;
  font-weight: bold;
  padding: 5px;
  border-radius: 50%;
  -webkit-box-sizing: unset;
          box-sizing: unset;
  cursor: default;
}

nav .left-content {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-decoration: none;
}

nav .left-content img {
  width: 40px;
  margin-left: 10px;
}

nav .right-content {
  margin-left: auto;
  margin-right: 20px;
}

nav .right-content .drop-down-box {
  position: relative;
}

nav .right-content .drop-down-box span {
  width: 40px;
  height: 40px;
  font-size: 20px;
  text-align: center;
  line-height: 40px;
  border-radius: 50%;
  vertical-align: middle;
  padding: 5px;
  cursor: default;
  -webkit-box-sizing: unset;
          box-sizing: unset;
}

nav .right-content .drop-down-box .hidden-content {
  display: none;
  position: absolute;
  right: 0px;
  background-color: #9331f5;
  -webkit-box-sizing: unset;
          box-sizing: unset;
  width: 200px;
}

nav .right-content .drop-down-box .hidden-content ul {
  list-style-type: none;
  margin: 10px 0px;
  -webkit-box-sizing: unset;
          box-sizing: unset;
}

nav .right-content .drop-down-box .hidden-content ul li {
  -webkit-box-sizing: unset;
          box-sizing: unset;
  cursor: default;
}

nav .right-content .drop-down-box .hidden-content ul li a {
  display: block;
  color: #fff;
  text-decoration: none;
  padding: 10px 10px;
  -webkit-box-sizing: unset;
          box-sizing: unset;
}

nav .right-content .drop-down-box .hidden-content ul li a i {
  display: inline-block;
  margin-right: 10px;
}

nav .right-content .drop-down-box .hidden-content ul li a:hover {
  background-color: #b272f1;
  color: #000;
}

nav .right-content .drop-down-box .hidden-content ul:after {
  top: -25%;
  right: 5%;
  -webkit-box-sizing: unset;
          box-sizing: unset;
  border: solid transparent;
  border-bottom-color: #9331f5;
  border-bottom-style: solid;
  border-bottom-width: 14px;
  content: " ";
  height: 0;
  position: absolute;
  pointer-events: none;
  border-width: 14px;
}

.toggle-container {
  margin-top: 56px;
  width: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.toggle-container .side-box {
  position: fixed;
  width: 250px;
  height: 100%;
  background-color: #9331f5;
}

.toggle-container .side-box ul {
  list-style-type: none;
  margin-top: 20px;
}

.toggle-container .side-box ul li {
  cursor: pointer;
}

.toggle-container .side-box ul li a {
  text-transform: capitalize;
  padding: 10px 0px;
  color: #fff;
  font-size: 20px;
  width: 100%;
  display: inline-block;
  text-decoration: none;
  font-weight: 500;
  line-height: 30px;
  vertical-align: middle;
}

.toggle-container .side-box ul li a i {
  display: inline-block;
  margin-right: 5px;
  margin-left: 5px;
}

.toggle-container .side-box ul li a:hover {
  background-color: #b272f1;
  color: #000;
}

.toggle-container .side-box ul li .active {
  background-color: #b272f1;
}

.toggle-container .context-box {
  width: 100%;
  margin-left: 250px;
  height: 100%;
  float: left;
}

.toggle-container .context-box .container {
  margin-top: 20px;
}

@media (min-width: 320px) and (max-width: 767px) {
  nav .nav-toggle-btn {
    margin-left: 5px;
  }
  nav .right-content {
    margin-right: 5px;
  }
  .toggle-container .side-box {
    display: none;
  }
  .toggle-container .context-box {
    margin-left: 0px;
  }
}
/*# sourceMappingURL=global.css.map */