.ripple{
    background: rgba(53, 52, 52, 0.3);
    position: absolute;
    border-radius: 100%;
    animation: ripple 1s;
    transform: scale(0);
  }
  
  @keyframes ripple {
    100%{
      transform: scale(2);
      opacity: 0;
    }
  }
  .ripple-effect{
    position: relative;
    overflow: hidden;
  }
  .input-ripple{
    position: relative;
    overflow: hidden;
    display: inline-block;
    margin: 0px;
  }